.perentdiv {
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    /* height: 100vh; */
}

.leftdiv {
    /* height: 100vh; */
    /* height: 100%; */
    width: 20vw;
    background-color: #ba51ba;
    /* background: linear-gradient(to bottom, #fb8500, #ffb703); */
}

.leftheader {
    background-color: #fb8500;
    height: 8.11%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.leftDashPlusAdminDiv {
    background-color: blue;
    /* height: 80vh; */
    height: 91.89%;
}

.dashboard {
    background-color: cadetblue;
    height: 85%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;

}


.admindiv {
    background-color: red;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin {
    background-color: #023047;
    height: 8vh;
    width: 18vw;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    box-shadow: inset 0 0px 0px #023047,
        /* subtle inner shadow */
        0 4px 8px rgba(0, 0, 0, 0.4);
    /* new outer shadow */
    transition: box-shadow 0.2s ease, transform 0.2s ease;
    /* Smooth transitions */
    outline: none;
}

.admin:focus {
    border: 0px solid rgb(160, 157, 157);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    outline: none;
    /* Remove default outline on focus */
}

/* Add the pressed effect on click */
.admin:active {
    transform: translateY(2px);
    /* Moves the button down to simulate press */
    box-shadow: inset 0 0px 8px rgba(0, 0, 0, 0.6),
        /* Stronger inner shadow */
        inset 0 -2px 2px rgba(255, 255, 255, 0.2);
    /* Light shadow on top */
}


.admintext {
    /* background-color: blue; */
    padding-left: 10px;
    text-align: left;
}

.admintext p {
    color: rgb(228, 226, 226)
}

.button {
    margin-top: 2px;
    background-color: transparent;
    height: 6vh;
    width: 19vw;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
    /* border: 1px solid gray; */
    display: flex;
    justify-content: left;
    align-items: center;
}


.activebutton {
    margin-top: 2px;
    background-color: #023047;
    height: 6vh;
    width: 18vw;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    box-shadow: inset 0 0px 0px #023047,
        /* subtle inner shadow */
        /* inset 0 0px 0px red, */
        /* existing inner shadow */
        0 4px 8px rgba(0, 0, 0, 0.4);
    /* new outer shadow */
    outline: none;
}



.activebutton h3 {
    font-size: 18px;

}

.rightdiv {
    flex: 1;
    /* background-color: blue; */


}

.rightheader {
    background: linear-gradient(to right, #fb8500, #ffb703);
    width: 100vw;
    height: 8vh;
    display: flex;
    /* justify-content: center; */
    flex-direction: row;
    align-items: center;
}

.rightchilddiv {
    /* background-color: crimson; */
}

.searchdiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid rgb(212, 208, 208);
    /* width: 100vw; */
    /* height: 7vh; */
    /* justify-content: center; */
    /* background-color: aqua; */

}

.rightheaderinputdiv {
    width: 55vw;

    display: flex;
    /* height: 8vh; */
    /* align-items: center; */
}

.inputstyle {
    width: 100vw;
    height: 6vh;
    background-color: transparent;
    color: black;
    outline: none;
    border: none;
    padding-left: 40px;

}

.rightheaderfilterdiv {
    width: 26vw;
    height: 6vh;
    /* background-color: brown; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.todaybutton {
    /* background: linear-gradient(to right, #db84db, #E6E6FA); */
    background-color: rgb(205, 206, 207);
    height: 4vh;
    border-radius: 5px;
    display: flex;
    width: 5vw;
    align-items: center;
    justify-content: center;
}

.todaybutton p {
    font-size: 14px;
    font-weight: 500;
    color: rgb(42, 40, 40);
}

.filterbutton {
    /* background: linear-gradient(to right, #db84db, #E6E6FA); */
    background-color: rgb(205, 206, 207);
    height: 4vh;
    border-radius: 5px;
    width: 5vw;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filterbutton p {
    font-size: 14px;
    font-weight: 500;
    color: rgb(42, 40, 40);
}

.listmapbutton {
    background-color: rgb(211, 213, 214);
    /* background-color: aqua; */
    height: 4vh;
    border: none;
    border-radius: 5px;
    width: 7vw;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
}

.listbutton {
    width: 3.3vw;
    height: 3vh;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mapbutton {
    width: 3.3vw;
    height: 3vh;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
}

.listmapbutton p {
    font-size: 14px;
    font-weight: 400;
}


.recordlist {

    /* background-color: #ba51ba ; */
    flex: 1;
    /* Make it flexible */
    height: 630px;
    /* Set a fixed height */
    overflow-y: auto;
    /* Enable vertical scrolling */
}

.listdiv {
    /* background-color: red; */
    height: 8vh;
    display: flex;
    margin-bottom: 4px;
    border: none;
    transform: translateY(2px);
    box-shadow: inset 0 0px 8px rgba(206, 199, 199, 0.2),
        inset 0 -2px 2px rgba(206, 199, 199, 0.2);
    position: relative;
    /* Set position to enable z-index */
}

.leftlistdiv {
    /* background-color: chocolate; */
    display: flex;
    padding-left: 15px;
    flex-direction: row;
    align-items: center;
    width: 78%;
}

.codediv {
    /* background-color: tomato; */
    width: 8%;
    display: flex;
    align-items: center;
    padding-left: 40px;
}

.codediv h7 {
    color: gray;
    font-size: 14px;
}

.namediv {
    /* background-color: red; */
    width: 20%;
}

.namediv h3 {
    color: black;
    font-size: 16px;
}

.statusdiv {
    /* background-color: blueviolet; */
    width: 10%;
    display: flex;
    justify-content: center;
}

.receivediv {
    /* background-color: chocolate; */
    width: 10%;
    display: flex;
    justify-content: center;
}

.receivediv span {
    font-size: 16px;
    /* font-weight: 500; */
    color: black;
    ;
}

.deleverdiv {
    /* background-color: darkgreen; */
    width: 10%;
    display: flex;
    justify-content: center;
}

.deleverdiv span {
    font-size: 16px;
    /* font-weight: 500; */
    color: black;
}

.Rightlistdiv {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 20%;
}


/* new entry screen */

.NewEntryDiv {
    /* background-color: blue; */
    height: 92vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 82vw;

}

.buttondiv {
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    /* height: 40%; */
    /* width: 30%; */
}

.plusdiv {
    background: #023047;
    height: 150%;
    width: 100%;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.plusdiv h1 {
    font-size: 80px;
}

.buttondiv h3 {
    color: #023047;
    margin-top: 20px;
}

.SettingComponentDiv {
    /* background-color: #196139; */
    height: 92%;
    width: 100%;
}

.menuDiv {
    background-color: #196139;
    height: 200px;
    width: 8%;
    position: absolute;
    top: 20px;
    left: 72%;
    border: none;
    border-radius: 5px;
    z-index: 9999;
    /* Higher z-index ensures it appears above .listdiv */
}

.MenuTextDivDelete {
    /* background-color: #fb8500; */
    padding: 5px;
    display: flex;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
}

/* .MenuTextDiv,.MenuTextDivDelete :hover{ */
/* background-color: yellow; */
/* padding: 5px; */
/* display: flex; */
/* align-items: center; */
/* flex-direction: row; */
/* } */
.MenuTextDiv {
    background-color: red;
}

.MenuTextDiv p {
    color: black;
    padding-left: 5px;
}

.MenuTextDivDelete p {
    color: red;
    padding-left: 5px;
}




@media (max-width: 768px) {
    .perentdiv {
        flex-direction: column;
        /* Stack the divs vertically */
        /* height: 100%; */
    }

    .leftdiv {
        background-color: rgb(0, 255, 30);
        width: 100%;

    }

    .leftDashPlusAdminDiv {
        background-color: blue;
        height: 100%;
        /* width: 100%; */
        display: flex;
        flex-direction: row;
    }

    .leftheader {}




    .dashboard {

        background-color: purple;
        width: 85%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
    }

    .button {
        background-color: orange;
        width: 30%;
        height:50% ;
    }

    .activebutton {

        background-color: orange;
        width: 30%;
        height:70% ;
    }

    .admindiv {
        background-color: yellow;
        width: 15%;
    }

    .admin {}

    .admindiv .admintext h3,
    .admindiv .admintext p {
        display: none;
    }


}